input, button{
    width: 100%;
    padding: 5px;
    margin: 5px;
}

button{
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
    margin-top: 10px;
}

.form{
    padding-right: 40px;
    border-right: 1px solid grey;
}